.equal-height {
 > div {
   height : 100%;
 }
  .ce-image {
    height : 100%;
  }
  .ce-gallery {
    height : 100%;
  }
  .ce-outer {
    height : 100%;
  }
  .ce-inner {
    height : 100%;
  }
  .ce-row {
    height : 100%;
  }
  .ce-column {
    height : 100%;
  }
  .image {
    height : 100%;
    a {
      height : 100%;
    }
    img {
      height : 100%;
    }
  }
}